---
layout: default
---

<div class="post-container">

  {% for post in paginator.posts %}
    <div class ="post-preview">
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        <h2>{{ post.title }}</h2>
      </a>

      <span class="post-time">
        <p>{{ post.date | date: "%b %-d, %Y" }}</p>
      </span>

      <hr>

      <span class="post-content">
        {{ post.content }}</p>
      </span>

    </div>

    <hr>

    {% endfor %}

</div>

{% if paginator.total_pages > 1 %}
    <nav class="pagination fn-clear">
        <ul class="pagination-list">
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="current"><a href="javascript:void(0);">{{ page }}</a></li>
                {% else %}
                    <li><a href="/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}
