---
---

/* ------------ Core Style -------------- */


body
{
    overflow-x: hidden;
    height: 100%;
}

i
{
    text-indent: 0;
}

table {
  width:100%;
  border-collapse:collapse;
  font-size:14px;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #eee;
}

th.title {
  width: 30%;
}

/* ------------ Sidebar Style -------------- */

#picture{
    width:150px;
    height:150px;
    border-radius:5%;
    background-size: cover;
    margin-bottom: 8px;
}

.wrapper {
  display: flex;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#social-icons
{
    font-size:  1.1em;
    display: block;
}

#social-icons ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#social-icons li {
    display: inline-block;
    padding-right: 15px;
}

#social-icons a {
    font-size: 16px;
    color: rgb(162, 163, 163);
}

#flickr img {
    width: 82px;
}

.menu-handle {
    display: none;
    background: none;
    border: none;
    width: 30px;
    height: 24px;
    padding: 0;
    outline: none;
    position: absolute;
    top: 16px;
    margin-left: 160px;
    cursor: pointer;
    z-index: 2000;
    overflow: visible;
}

.menu-handle::before,
.menu-handle::after,
.menu-handle span {
    background: #888888;
    box-shadow: 0 0 1px, inset 0 0 1px;
}
.menu-handle::before,
.menu-handle::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
}
.menu-handle span {
    position: absolute;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    border-top: solid 1px;
    width: 30px;
    color: #888;
    height: 0;
    border-radius: 0;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
}

.menu-handle::before {
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
}

.menu-handle::after {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
}

.menu-open .menu-handle span {
    color: rgba(0,0,0,0);
    border: none;
}

.menu-open .menu-handle::before {
    -webkit-transform: rotate3d(0, 0, 1, 135deg);
    transform: rotate3d(0, 0, 1, 135deg);
}

.menu-open .menu-handle::after {
    -webkit-transform: rotate3d(0, 0, 1, -135deg);
    transform: rotate3d(0, 0, 1, -135deg);
}

/* ------------ Content Style -------------- */

.content {
  flex: 1;
  padding: 20px 20px 20px 160px;

  font-family: Arial, sans-serif;
  background-color: #fff;
  font-size: 16px;
  line-height: 1.5em;
  color: #666;
  font-weight: 300;
}

.content hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #F7F1F1;
    border-bottom: 1px solid #fff;
}

.content h1 {
    font-weight: normal;
    color: #696969;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
}

.content h2 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
    font-weight: bold;
}

.content h3 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
    font-weight: bold;
}

.content p
{
    font-family: Arial, sans-serif;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
    font-weight: 300;
}

.content a {

    font-family: Arial, sans-serif;
    background-color: #fff;
    font-size: 16px;
    line-height: normal;
    font-style: normal;
    color: #8C8C8C;
    font-weight: 300;

}

.content pre
{
    border:none;
    width: 70%;

    /* Generic font style */
    font-family: Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 19.2px;
    word-spacing: 0px;
    color:#777777;
}

.content img
{
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 2px;
}

.sidebar {
  width: 180px;
  color: #eee;
  padding: 40px 15px;
  height: 100%;

  font-size:  1.1em;
  display: block;

  p
  {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: normal;
    font-style: normal;
    color: #8C8C8C;
    font-weight: 300;
  }

  ul
  {
    list-style: none;
     margin: 0px;
     padding: 0px;
  }

  li {
    padding: 10px;
    list-style: none;
    width: 0%;
    line-height: 1.2rem;
    font-weight: 300;


    a{

      line-height: normal;
      font-style: normal;
      color: #8C8C8C;
      font-weight: 300;

    }

  }
}

@media screen and (max-width: 1200px) {
.sidebar {
  margin-left: -180px;
  transition-duration: 0.6s;
}
.menu-open .sidebar {
  transform: translate(180px, 0px);
  transition-duration: 0.6s;
}
.menu-handle {
  margin-left: 180px;
  display: block;
}
.content {
  padding-left: 60px;
  transition-duration: 0.6s;
}
.menu-open .content {
  transform: translate(180px, 0px);
}
}
