<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link href="/feed.xml" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link href="{{ site.url }}/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.url }}/css/fontello.css">
  <link rel="stylesheet" href="{{ site.url }}/css/style.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}">
</head>
