<div class='wrapper' id='main-content'>

  <div class='sidebar' id='menu'>

      <button class="menu-handle"><span>Menu</span></button>

      <a href="{{ site.url }}"><div id="picture" style="background-image: url({{ site.url }}/images/avatar.jpeg)"></div></a>
      <p>{{site.description}}</p>

      <hr>

     <aside id="ci_social_widget-2" class="widget widget_ci_social_widget group">
             <a href="/feed" title="Subcribe to my RSS feed." target="_blank" class="icn">
                 <span style="line-height: 26px;width: 26px;height: 26px;" class="fa-stack">
                     <i style="font-size: 26px;" class="fa-circle"></i>
                     <i style="font-size: 13px;color: #eee;margin: 0 auto;width: 26px;" class="fa-rss"></i>
                 </span>
             </a>
             <a href="http://github.com/todd-xander/" title="Follows me on github." target="_blank" class="icn">
                 <span style="line-height: 26px;width: 26px;height: 26px;" class="fa-stack">
                     <i style="font-size: 26px;" class="fa-circle"></i>
                     <i style="font-size: 13px;color: #eee;margin: 0 auto;width: 26px;" class="fa-github"></i>
                 </span>
             </a>
             <a href="http://twitter.com/tod_xander/" title="Follows me on twitter." target="_blank" class="icn">
                 <span style="line-height: 26px;width: 26px;height: 26px;" class="fa-stack">
                     <i style="font-size: 26px;" class="fa-circle"></i>
                     <i style="font-size: 13px;color: #eee;margin: 0 auto;width: 26px;" class="fa-twitter"></i>
                 </span>
             </a>
             <a href="http://weibo.com/1914302274/" title="Follows me on WeiBo." target="_blank" class="icn">
                 <span style="line-height: 26px;width: 26px;height: 26px;" class="fa-stack">
                     <i style="font-size: 26px;" class="fa-circle"></i>
                     <i style="font-size: 13px;color: #eee;margin: 0 auto;width: 26px;" class="fa-weibo"></i>
                 </span>
             </a>
             <a href="mailto:tod.xander@gmail.com" title="Email to me." target="_blank" class="icn">
                 <span style="line-height: 26px;width: 26px;height: 26px;" class="fa-stack">
                     <i style="font-size: 26px;" class="fa-circle"></i>
                     <i style="font-size: 13px;color: #eee;margin: 0 auto;width: 26px;" class="fa-email"></i>
                 </span>
             </a>
     </aside>

      <!--div id="social-icons">
        <ul>
            <li><a href="https://plus.google.com/{{ site.google }}" target=_blank><i class="fa fa-googleplus-rect"></i></a></li>
            <li><a href="https://mx.linkedin.com/in/{{ site.linkedin }}" target=_blank><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://github.com/{{ site.github }}" target=_blank><i class="fa fa-github-circled"></i></a></li>
            <li><a href="mailto://{{ site.email }}" target=_blank><i class="fa fa-gmail"></i></a></li>
            <li><a href="{{ site.url }}/feed.xml" target=_blank><i class="fa fa-rss"></i></a></li>
        </ul>
      </div-->

       <hr>

       <div class="navigation">
        <ul>
                <li><a href="{{ site.url }}/archive">Archive</a></li>
                <li><a href="{{ site.url }}/about">About</a></li>
        </ul>
    </div>

    <hr>

     <div class="navigation">
             <ul>
               {% for category in site.categories %}
                 <li><a href="{{ site.url }}/categories/{{ category | first }}">{{ category | first }}</a></li>
               {% endfor %}
             </ul>
     </div>

     <hr>

     <p>{{site.footer}}<p>
     <p>Powered by Jekyll<p>

  </div>

  <div class='content'>
    {{ content }}
  </div>

</div>
